.vendedor,
.comprador {
  max-width: 400px;
  margin-top: 20px;
}

.validacion {
  margin-top: 20px;
}

.rango {
  display: flex;
}

.field {
  border-radius: 3px;
  border-style: solid;
  border-color: darkgray;
  border-width: 1px;
}
